.virtual-keyboard-button {
    -fx-background-color: #252525;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-font-family: 'Lato Light';
}

.virtual-keyboard-button:hover {
    -fx-background-color: #404040;
}

.modifier-keys {
    -fx-background-color: #252525;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-font-family: 'Lato Light';
}

.modifier-keys:selected {
    -fx-background-color: #404040;
}