// Frames

.main-window {
    -fx-background-color: #1e1e1e;
}

.all-frames {
    -fx-background-color: #2d2d2d;
}

.keg-frame {
    -fx-padding: 45.0 15.0 15.0 50.0;
    -fx-background-insets: 45.0 15.0 15.0 50.0;
}

.temp-frame {
    -fx-padding: 0.0 0.0 15.0 0.0;
    -fx-background-insets: 0.0 0.0 15.0 0.0;
}

.voting-frame {
    -fx-padding: 15.0 0.0 0.0 0.0;
    -fx-background-insets: 15.0 0.0 0.0 0.0;
}

.temp-voting-frame {
    -fx-padding: 45.0 50.0 15.0 15.0;
}

.footer-frame {
    -fx-padding: 15.0 50.0 45.0 50.0;
    -fx-background-insets: 15.0 50.0 45.0 50.0;
}

// Elements

.keg-meter {
    -fx-fill: #06d3ce;
}

.data-labels {
    -fx-font-family: 'Lato Hairline';
    -fx-font-size: 80;
    -fx-text-fill: #cacaca;
}

.beer-display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 32;
    -fx-fill: #cacaca;
}

.votes-display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 20;
    -fx-fill: #cacaca;
}

.press-to-vote {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 15;
    -fx-fill: #cacaca;
}

.admin-button {
    -fx-background-color: #343434;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: #a0a0a0;
    -fx-font-size: 24;
    -fx-font-family: 'Lato Light';
}

.admin-button:hover {
    -fx-background-color: #404040;
}

.admin-warning-msg {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 20;
    -fx-fill: #aaaaaa;
}